<div class="table-container">
  <div class="table-header">
    <div class="header-item">Título</div>
    <div class="header-item">Data</div>
    <div class="header-item action-icon">
      <img alt="add information" src="/assets/images/icons/addInfo.svg" />
    </div>
  </div>
  <div class="table-row">
    <div class="row-item">Sessão 1</div>
    <div class="row-item">27 de maio de 2023</div>
    <div (click)="openItem()" class="row-item action-icon">
      <img alt="expand details" src="/assets/images/icons/arrow.svg" />
    </div>
  </div>
  <div class="detail" *ngIf="detail">
    <app-card-session-history></app-card-session-history>
  </div>
</div>
