<form #form="ngForm">
  <div class="form">
    <app-input
      type="text"
      id="password"
      name="password"
      title="password"
      #password="ngModel"
      required
      [(ngModel)]="user.password"
      placeholder="Criar senha">
    </app-input>

    <app-input
      type="text"
      id="confirmPassword"
      name="confirmPassword"
      #confirmPassword="ngModel"
      required
      title="confirmPassword"
      [(ngModel)]="user.confirmPassword"
      placeholder="Repetir senha">
    </app-input>

    <app-button
      btnText="Voltar"
      btnClass="btn-outline"
      (click)="back()"></app-button>

    <app-button
      btnText="Confirmar senha"
      btnClass="btn-primary"
      [disabled]="form?.invalid ?? true"
      (click)="save()"></app-button>
  </div>
</form>
