@import "/src/styles/base/variables.scss";

.line {
  width: 100%;
  float: left;
  height: 1px;
  background-color: $dark-color;
}
.radio {
  width: 100%;
  margin: 20px 0 0 0;
  float: left;
}
input {
  margin: 3px 5px 0 0;
  float: left;
}
.detail {
  font-size: 14px;
  line-height: 20px;
  p {
    margin: 0;
    padding: 0;
    > img {
      margin: 0 5px 20px 0;
      float: left;
    }
  }
  > b {
    width: 100%;
    float: left;
    padding: 20px 0;
  }
}
.addInfo {
  margin: 2px 10px 0 0;
  float: left;
}
.action-arrow {
  float: right;
  cursor: pointer;
  margin: -3px 0 0 10px;
  > img {
    width: 16px !important;
  }
}
select {
  width: 100%;
  float: left;
  margin-top: 10px;
  background-color: $white-color;
  padding: 0 10px;
  box-sizing: border-box;
  border: 2px solid $dark-color;
  height: 40px;
  border-radius: 10px;
}
