@import "/src/styles/base/variables.scss";
input {
  border: 2px solid $gray-lightest;
  border-radius: 8px !important;
  height: 64px;
  width: 100%;
  display: flex;
  color: $dark-color;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  font-family: Montserrat;
  background-color: $gray-lightest;
  transition: border-color 0.3s;
  box-sizing: border-box;

  &::placeholder {
    color: $gray-dark;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: Montserrat;
    letter-spacing: 0em;
    text-align: left;
    opacity: 1;
  }

  &:focus {
    border: 2px solid $dark-color;
  }

  &:hover {
    border: 2px solid $dark-color;
  }

  &:active {
    border: 2px solid $dark-color;
  }

  &:disabled {
    background-color: $gray-lightest;
    border-color: $gray-lightest;
    color: $gray-lightest;
  }
}

.input-outline {
  border: 0;
  border-radius: 8px;
  height: 64px;
  width: 100%;
  outline: none;
  display: flex;
  padding: 0 20px;
  background-color: $gray-lightest;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.style-secondy-input {
  border: 1px solid $dark-color;
  outline: none;
  height: 40px;
  background-color: white;
}

.input-group {
}

.input-group-append .btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  z-index: 1111;
  margin-top: -44px;
  right: 20px;
  float: right;
}

.input-group-append .btn img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
