<!-- input.component.html -->
<div class="input-group">
  <input
    [attr.type]="type"
    [class]="btnClass"
    [id]="id"
    [disabled]="disabled"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    [name]="name"
    [attr.title]="title"
    [placeholder]="placeholder"
    (blur)="onTouched()" />

  <div class="input-group-append" *ngIf="type === 'password'">
    <button class="btn" (click)="toggleHide()">
      <img alt="Toggle Password" src="/assets/images/icons/eye.svg" />
    </button>
  </div>
</div>
