<div class="container-modal">
  <div class="status">
    <div class="circle"><span>•</span></div>
    <div>
      <div class="title">
        Ana Matos
        <div class="close" (click)="close()">
          <img
            alt="search"
            class="search-icon"
            src="/assets/images/icons/close.svg" />
        </div>
      </div>
      <div class="subtitle">Doença de Parkinson</div>
    </div>
  </div>

  <div class="tab-container">
    <ul class="nav-tabs">
      <li
        class="tab"
        [ngClass]="{ active: activatedTab === 'sheets' }"
        (click)="setTab('sheets')">
        Fichas de Anamnese
      </li>
      <li
        class="tab"
        [ngClass]="{ active: activatedTab === 'protocols' }"
        (click)="setTab('protocols')">
        Protocolos de Avaliação
      </li>
      <li
        class="tab"
        [ngClass]="{ active: activatedTab === 'sessions' }"
        (click)="setTab('sessions')">
        Sessões de Neuromodulação
      </li>
      <li
        class="tab"
        [ngClass]="{ active: activatedTab === 'reports' }"
        (click)="setTab('reports')">
        Relatórios
      </li>
    </ul>

    <div *ngIf="activatedTab === 'sheets'" class="tab-content">
      <app-sheets></app-sheets>
    </div>
    <div *ngIf="activatedTab === 'protocols'" class="tab-content">
      <app-protocols></app-protocols>
    </div>
    <div *ngIf="activatedTab === 'reports'" class="tab-content">
      <app-reports></app-reports>
    </div>
    <div *ngIf="activatedTab === 'sessions'" class="tab-content">
      <app-sessions-list></app-sessions-list>
    </div>
  </div>
</div>
