@import "/src/styles/base/variables.scss";
.tab-buttons-actions {
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
  text-align: right;
  gap: 5px;
  bottom: 0;
  padding: 20px 0;
  box-sizing: border-box;
}
.title-modal {
  border-bottom: 0;
  padding: 10px 0 0 0;
  line-height: 4px;
}

.subtitle-modal {
  font-size: 16px !important;
}
.date {
  @include bodyMedium;
  font-weight: bold;
  font-size: 14px;
}
