<div class="container-modal">
  <div class="title-modal">Histórico</div>
  <div class="subtitle-modal">Acesse o seu histórico de sessões.</div>

  <div class="search-container">
    <input
      class="styleSearch"
      type="search"
      placeholder="Pesquise seu paciente..." />
    <div class="search">
      <img
        alt="search"
        class="search-icon"
        src="/assets/images/icons/search.svg" />
    </div>
  </div>
  <div class="tab-buttons-actions">
    <app-button
      btnText="Adicionar indicador"
      btnClass="btn-outline-small"
      (click)="back()"
      [src]="iconAdd"
      [image]="true"></app-button
    ><app-button
      btnText="Por data"
      btnClass="btn-primary-small"
      [image]="true"
      [src]="iconDate"
      (click)="close()"></app-button>
  </div>

  <div class="date">Hoje: segunda-feira, 27 de novembro de 2023</div>

  <div class="container-time">
    <div class="time">
      <div class="image">
        <img alt="search" src="/assets/images/illustrations/exercicio.png" />
      </div>
      <div class="description">
        <div class="title">Camila Mendes</div>
        <div class="subtitle">
          Doença de Parkinson<br />
          Início da sessão: 8h30 <br />Fim da sessão: 9h15<br />
          <img src="/assets/images/icons/clock.svg" alt="time" /> 00:45:00
          <div class="expand">
            <img src="/assets/images/icons/expand.svg" alt="time" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
