@import "/src/styles/base/variables.scss";
.tab-buttons-actions {
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
  text-align: right;
  gap: 5px;
  bottom: 0;
  padding: 20px 0;
  box-sizing: border-box;
}

.date {
  @include bodyMedium;
  font-weight: bold;
  font-size: 14px;
}
.time {
  float: left;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  border: 1px solid $dark-color;
}

.description {
  float: left;
  margin: 0 0 0 20px;
  width: 511px;
}

.image {
  width: 168px;
  float: left;
  height: 112px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
}

.title {
  @include bodyMedium;
  font-weight: bold;
  margin-top: 0;
}

.subtitle {
  @include regularMedium;
  margin-top: 0;
}

.expand {
  float: right;
}
