<div class="container-modal">
  <div class="title-modal">
    Histórico
    <div class="close" (click)="close()">
      <img
        alt="search"
        class="search-icon"
        src="/assets/images/icons/close.svg" />
    </div>
  </div>
  <div class="subtitle-modal">Acesse o seu histórico de sessões.</div>

  <div class="search-container">
    <input
      class="styleSearch"
      type="search"
      placeholder="O que você quer descobrir?" />
    <div class="search">
      <img
        alt="search"
        class="search-icon"
        src="/assets/images/icons/search.svg" />
    </div>
  </div>
  <div class="tab-buttons-actions">
    <app-button
      btnText="Adicionar indicador"
      btnClass="btn-outline-small"
      [src]="iconAdd"
      [image]="true"></app-button
    ><app-button
      btnText="Por data"
      btnClass="btn-primary-small"
      [image]="true"
      [src]="iconDate"></app-button>
  </div>

  <div class="date">Hoje: segunda-feira, 27 de novembro de 2023</div>

  <app-card-session-history></app-card-session-history>
</div>
