<div class="card">
  <div class="sigla"></div>
  <div>
    <div class="name"><span>•</span> Camila Mendes</div>
    <div class="situation">Doença de Parkinson</div>
  </div>
</div>

<div class="card">
  <div class="sigla"></div>
  <div>
    <div class="name"><span>•</span> Camila Mendes</div>
    <div class="situation">Doença de Parkinson</div>
  </div>
</div>

<div class="card">
  <div class="sigla"></div>
  <div>
    <div class="name"><span>•</span> Camila Mendes</div>
    <div class="situation">Doença de Parkinson</div>
  </div>
</div>
