<div class="card-expansion">
  <div class="header">
    <div class="title">Ana matos</div>
    <div class="subtitle">Doença de Parkinson</div>
  </div>

  <div class="forms-container">
    <div>
      <label for="nome">Nome Completo</label>
      <app-input
        type="text"
        id="nome"
        name="nome"
        title="nome"
        placeholder="Nome Completo"
      >
      </app-input>
    </div>
      
    <div>
      <label for="nome">Data de nascimento</label>
      <input type="date" name="selectedDate">
    </div>
  </div>
  
  <div>
    <label for="genero">Gênero:</label>
    <select id="genero" name="genero">
      <option value="masculino">Masculino</option>
      <option value="feminino">Feminino</option>
    </select>
  </div>

  <div>
    <label for="diagnostico">Diagnóstico clínico</label>
    <app-input
      type="text"
      id="diagnostico"
      name="diagnostico"
      title="diagnostico"
      placeholder="Diagnóstico clínico"
    >
    </app-input>
  </div>

  <hr>

  <div>
    <label for="Sintomas">Sintomas</label>
    <app-input
      type="text"
      id="sintomas"
      name="sintomas"
      title="sintomas"
      placeholder="Mobilidade reduzida"
    >
    </app-input>
  </div>

  <div>
    <label for="nome">Data de nascimento</label>
    <input type="date" name="selectedDate">
  </div>

  <div>
    <label for="especifica">Lesão específica</label>
    <app-input
      type="text"
      id="especifica"
      name="especifica"
      title="especifica"
      placeholder="Lesão específica"
    >
    </app-input>
  </div>

</div>
