@import "/src/styles/base/variables.scss";
.forms-container {
  width: 100%;
  margin-top: 10px;
  background-color: $white-color;
  border-radius: 16px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
}

.dual-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: inline-block;
  margin-top: 20px;
  width: 45%;
}

label {
  font-weight: bold;
  display: block;
  font-size: 14px;
  padding: 0 0 20px 0;
}

.container-input {
  margin-top: 20px;
}

select {
  width: 100%;
  float: left;
  margin-top: 10px;
  background-color: $white-color;
  padding: 0 10px;
  box-sizing: border-box;
  border: 2px solid $dark-color;
  height: 40px;
  border-radius: 10px;
}
.line {
  width: 100%;
  float: left;
  height: 1px;
  background-color: $dark-color;
}
.radio {
  width: 100%;
  margin: 20px 0 0 0;
  float: left;
}
input {
  margin: 3px 5px 0 0;
  float: left;
}
.detail {
  font-size: 14px;
  > b {
    width: 100%;
    float: left;
    padding: 20px 0;
  }
}
