<div class="forms-container">
  <div class="nome-completo">
    <label for="nome">Nome Completo</label>
    <app-input
      btnClass="style-secondy-input"
      type="text"
      id="nome"
      name="nome"
      title="nome"
      placeholder="Nome Completo">
    </app-input>
  </div>

  <div class="dual-container">
    <div class="wrapper">
      <label for="nome">Data de nascimento</label>
      <app-input
        btnClass="style-secondy-input"
        type="date"
        name="selectedDate">
      </app-input>
    </div>
  
    <div class="wrapper">
      <label for="genero">Gênero:</label>
      <app-input
        id="genero"
        name="genero"
        placeholder="Feminino"
        btnClass="style-secondy-input">
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
      </app-input>
    </div>
  </div>

  <div>
    <label for="diagnostico">Diagnóstico clínico</label>
    <app-input
      type="text"
      id="diagnostico"
      name="diagnostico"
      title="diagnostico"
      placeholder="Diagnóstico clínico">
    </app-input>
  </div>

  <hr />

  <div>
    <label for="Sintomas">Sintomas</label>
    <app-input
      type="text"
      id="sintomas"
      name="sintomas"
      title="sintomas"
      placeholder="Mobilidade reduzida">
    </app-input>
  </div>

  <div class="dual-container">
  <div class="wrapper">
    <label for="nome">Data de nascimento</label>
    <app-input
      type="date"
      name="selectedDate"
      btnClass="style-secondy-input">
    </app-input>
  </div>

  <div class="wrapper">
    <label for="especifica">Lesão específica</label>
    <app-input
      type="text"
      id="especifica"
      name="especifica"
      title="especifica"
      placeholder="Lesão específica">
    </app-input>
  </div>
</div>
</div>
