// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$orby-primary: mat.define-palette(mat.$indigo-palette);
$orby-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$orby-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$orby-theme: mat.define-light-theme(
  (
    color: (
      primary: $orby-primary,
      accent: $orby-accent,
      warn: $orby-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($orby-theme);

@import "/src/styles/base/variables.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.styleSearch {
  border: 1px solid $dark-color;
  border-radius: 8px;
  box-sizing: border-box;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  padding: 0 10px 0 35px;
  width: 100%;
  outline: none;
  &::placeholder {
    color: #ada4a4;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.close {
  float: right;
  > img {
    float: right;
    position: unset;
    margin: -11px 0 0 0;
    width: 24px;
  }
}
.search-icon {
  position: absolute;
  left: 10px;
  cursor: pointer;
  margin-top: -9px;
  img {
    width: 16px !important;
  }
}
.search-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.title-modal {
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  @include bodyMedium;
  padding: 10px 0 30px 0;
  font-size: 24px !important;
  float: left;
  font-weight: bold;
  border-bottom: 2px solid $gray-lightest;
}

.subtitle-modal {
  @include regularMedium;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px 0 10px 0;
  float: left;
  font-size: 24px !important;
}

.container-modal {
  margin: 20px;
  display: ruby-text;
  box-sizing: border-box;
}

.tab-buttons-modal {
  border-top: 1px solid #e6e6e6;
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
  text-align: right;
  gap: 5px;
  position: absolute;
  bottom: 0;
  margin-left: -20px;
  padding: 20px;
  box-sizing: border-box;
}

.table-container {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.table-header,
.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

.row-item {
  flex: 1;
  text-align: left;
  font-size: 14px;
}
.header-item {
  font-weight: bold;
  flex: 1;
  text-align: left;
  font-size: 14px;
}

.action-icon {
  cursor: pointer;
  flex: 0 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 16px;
  }
}

.table-row:last-child {
  border-bottom: none;
}

.background {
  background-color: rgba(0, 0, 0, 0.1058823529);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1111111111111;
  .filters {
    width: 334px;
    height: 221px;
    position: absolute;
    right: 27px;
    background: white;
    border-radius: 8px;
    margin-top: 236px;
    padding: 10px;
    box-sizing: border-box;
    > b {
      width: 100%;
      text-align: center;
      float: left;
      padding: 10px 0 20px 0;
      border-bottom: 1px solid $gray-lightest;
    }
  }
  .data {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 27px;
    background: white;
    border-radius: 8px;
    margin-top: 236px;
    padding: 10px;
    box-sizing: border-box;
    > b {
      width: 100%;
      text-align: center;
      float: left;
      padding: 10px 0 20px 0;
      border-bottom: 1px solid $gray-lightest;
    }
  }

  .item {
    margin: 20px 0 0 0;
    width: 100%;
    float: left;
    display: block;
  }
}
