<div class="container-menu">
  <div class="menu">
    <button (click)="home()" [class.active-link]="isActive('home')">
      <img src="/assets/images/icons/home.svg" /> Home
    </button>
    <button
      (click)="openDashboardModal()"
      [class.active-link]="isActive('dashboard')"
    >
      <img src="/assets/images/icons/dashboard.svg" /> Dashboard
    </button>
    <button
      (click)="openHistoricoModal()"
      [class.active-link]="isActive('historico')"
    >
      <img src="/assets/images/icons/historico.svg" /> Histórico
    </button>
  </div>
</div>
